@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

:root {
  font-size: 16px;
  --slide-width: 216px;
}

body {
  font-family: "Smooch Sans", sans-serif;
  overflow-x: hidden;
}

/* 

HEADER

*/

header,
.title,
.header__right,
.nav__links {
  display: flex;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  background: white;
  width: 90%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  z-index: 3;
}

.title {
  color: #051f02;
}

.title {
  gap: 0.3vw;
}

.title__img {
  height: 48px;
}

.title__text {
  letter-spacing: 1.5px;
  font-weight: 700;
}

.topnav {
  padding: 24px;
  margin-right: 48px;
}

.nav__links {
  list-style-type: none;
  gap: 42px;
}

.nav__link a,
.account__login {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.nav__link,
.account__login {
  position: relative;
  background: linear-gradient(60deg, #0d3508 0%, #118701 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.04em;
  background-position: 50% 100%;
  border-radius: 4px;
  transition:
    background-size 350ms ease-in-out,
    color 375ms ease-in-out;
}

.nav__link {
  padding: 4px 8px;
  cursor: pointer;
}

.nav__link:hover {
  color: white;
  background-size: 100% 100%;
}

.account__login {
  padding: 4px 8px;
  margin-right: 24px;
}

.account__login:hover {
  color: white;
  background-size: 100% 100%;
}

.btn--primary {
  background-color: #118701;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 24px;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn--primary:hover {
  background-color: #0d7200;
}

/* 

HAMBURGER MENU

*/

.hamburger {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgb(253, 253, 253),
    rgb(214, 214, 214)
  );
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 10px;
  height: auto;
  top: -500px;
  right: 5%;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;
  transition: all 350ms ease-in-out;
  z-index: 2;
}

.hamburger.active {
  top: 16px;
}

.hamburger__icon {
  display: none;
}

.icon__wrapper {
  width: 42px;
  cursor: pointer;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.icon__wrapper:hover {
  transform: scale(1.06);
}

.icon__image {
  width: 100%;
}

.hamburger__menu,
.hamburger__links {
  flex-direction: column;
}

.hamburger__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: 20%;
  margin: 0 auto;
}

.hamburger__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  width: 100%;
}

.hamburger__link {
  width: 100%;
  text-align: center;
}

.hamburger__link a {
  display: inline-block;
  text-align: center;
}

.hamburger__button {
  font-size: 1.1rem;
  min-width: 96px;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.hamburger__button:hover {
  transform: scale(1.02);
  font-size: 1.1rem;
}

.hamburger__icon--close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px; 
}

/* 

MAIN

*/

main {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 

HERO

*/

#hero {
  margin: 80px 0 120px 0;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}

.col--forty {
  width: 35%;
}

.col--sixty {
  flex-shrink: 3;
  width: 58%;
}

.hero__title {
  font-size: 3rem;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;
}

.hero__description {
  flex-basis: 100%;
  margin-top: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.carousel__container {
  display: inline-flex;
  width: var(--slide-width);
  overflow: hidden;
  font-size: 3rem;
  font-weight: 600;
  color: #118701;
}

.carousel__slides {
  display: flex;
  flex-wrap: nowrap;
  animation: textCarousel 18s ease-in-out infinite;
}

.carousel__text {
  width: var(--slide-width);
  flex-shrink: 0;
}

.email,
.email__button {
  font-size: 1.5rem;
}

.email {
  position: relative;
  width: 96%;
  margin-top: 32px;
}

.email__input,
.email__button {
  border-radius: 100px;
  padding: 8px 32px;
}

.email__input {
  width: 100%;
  border: 1px solid #051f023d;
  box-shadow: inset 1px 1px 4px  rgba(0, 0, 0, 0.349);
}

.email__button {
  position: absolute;
  right: 0;
  transform: scale(0.9) translateY(1px) translateX(4px);
}

/* 

CUSTOMERS

*/

.customers {
  margin-top: 56px;
}

.customers__text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.customers__image--wrapper {
  margin-top: 8px;
  width: 90%;
}

.customers__image {
  opacity: 0.5;
}

/* 

FEATURES

*/

#features {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.features__header {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.features__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.features__title {
  font-size: 4rem;
  line-height: 1;
  margin-top: 8px;
}

.green {
  color: #118701;
}

.features__description {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  max-width: 65ch;
  font-size: 1.8rem;
}

.features__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 64px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 64px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 376px;
  transform: scale(1.0);
  transition: all 300ms ease-in-out;
}

.feature:hover {
  transform: scale(1.04);
}

.feature:hover .feature__title {
  color:#118701;
}

.feature__image--wrapper {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__image {
  background: linear-gradient(0deg, #ecebeb, #fff);
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.185);
  border-radius: 100%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.feature__title {
  font-size: 2.2rem;
  margin-top: 24px;
  transition: all 300ms ease-in-out;
}

.feature_description {
  font-size: 1.6rem;
  max-width: 25ch;
}

/* 

LEARN

*/

#learn {
  display: flex;
  flex-direction: row;;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.learn__left {
  max-width: 50%;
  text-align-last: left;
}

.learn__right {
  max-width: 50%;
}

.learn__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.learn__title {
  font-size: 3rem;
  line-height: 1;
  margin-top: 8px;
}

.learn__description {
  font-size: 1.6rem;
  max-width: 55ch;
  margin-top: 16px;
  text-align-last: left;
}

.learn__button {
  font-size: 1.4rem;
  margin-top: 16px;
}

/* 

STEPS

*/

#steps {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  margin-top: 360px;
}

.steps__left {
  position: absolute;
  z-index: -1;
  transform: scale(.9) translateX(-200px);
  animation: moveLeft 10s ease-out;
}

.steps__image--wrapper {
  width: 1200px;
  flex-shrink: 2;
}

.steps__image {
  width: 100%;
}

.steps__right {
  border: 1px solid rgba(128, 128, 128, 0.418);
  width: 480px;
  position: absolute;
  border-radius: 10px;
  padding: 40px;
  transform: translateX(200px);
  background: linear-gradient(20deg, rgb(233, 233, 233), white);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  animation: moveRight 10s ease-out;
}

.steps__subtitle {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.steps__title {
  font-size: 2.6rem;
  line-height: 1;
}

.steps__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
  margin-left: 4px;
}

.step {
  display: flex;
  column-gap: 24px;
  align-items: flex-start;
  padding: 8px;
  border-radius: 10px;
  transition: all 350ms ease-in-out;
}

.step:hover {
  background: #118701;
  color: white;
  width: 100%;
}

.step:hover .step__number {
  color: white;
}

.step__number {
  font-size: 1.8rem;
  color: rgba(161, 161, 161, 1);
  text-align: center;
}

.step__text {
  display: flex;
  flex-direction: column;
}

.step__title {
  font-size: 1.8rem;
  line-height: 1.2;
}

.step__description {
  font-size: 1.6rem;
  max-width: 35ch;
}

/* 

VALUES

*/

#values {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 400px;
  margin-bottom: 80px;
}

.values__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.values__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.values__title {
  font-size: 3rem;
  line-height: 1;
  max-width: 25ch;
  margin-top: 8px;
  
}

.values__description {
  font-size: 1.6rem;
  margin-top: 16px;
}

.markers__container {
  display: flex;
  gap: 24px;
}

.marker__title--wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.5rem;
}

.marker {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
  gap: 8px;
}

.marker::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #0d350831;
  border-radius: 10px;
}


.marker__description {
  font-size: 1.6rem;
  
}

.values__right {
  width: 45%;
}

.values__btn {
  margin-top: 16px;
  width: 26%;
  font-size: 1.4rem;
}

/* 

PRICING 

*/

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 120px;
  margin-top: 40px;
}

.pricing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.pricing__title {
  font-size: 3rem;
  line-height: 1;
  max-width: 25ch;
  margin-top: 8px;
}

.pricing__description {
  font-size: 1.6rem;
  margin-top: 16px;
  max-width: 50ch;
  text-align: center;
}

.prices__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 32px;
  row-gap: 48px;
  column-gap: 32px;
}

.price {
  display: flex;
  flex-direction: column;
  width: 376px;
  border: 1px solid rgb(235, 234, 234);
  border-radius: 10px;
  transition: all 350ms ease-in-out;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
}

.price:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.24);
}

.price__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(211, 211, 211, 0.452);
  padding: 24px 0 24px 0;
}

.price__title {
  font-size: 2rem;
  font-weight: 600;
}

.price__number {
  font-size: 3rem;
  font-weight: 600;
}

.price__frequency {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: rgb(124, 124, 124);
}

.price__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0 24px 0;
  border-bottom: 1px solid rgba(211, 211, 211, 0.452);
}

.price__prescription {
  font-size: 2rem;
  font-weight: 600;
}

.price__detail {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(124, 124, 124);
}

.price__button--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px 0 24px 0;
}

.price__button {
  padding: 8px 56px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 100px;
  text-transform: uppercase;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.price__button:hover {
  transform: scale(1.01) translateY(-2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.363);
}

#price--personal.price {
  border-top: 8px solid transparent;
  background-image: 
    linear-gradient(#ffffff, #ffffff),
    linear-gradient(to right, rgb(22, 131, 104), rgb(136, 255, 209));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

#price--personal .price__button {
  background: linear-gradient(to right, rgb(22, 131, 104), rgb(78, 212, 161));
}

#price--business.price {
  background: linear-gradient(to bottom, rgb(65, 0, 139), rgb(106, 24, 201));
  color: white;
} 

#price--business .price__detail {
  color: lightgray;
}

#price--business > div.price__header > span {
  color: white;
}

#price--business .price__button {
  color: rgb(106, 24, 201);
}

#price--enterprise.price {
  border-top: 8px solid transparent;
  background-image: 
    linear-gradient(#ffffff, #ffffff),
    linear-gradient(to right, rgb(131, 22, 82), rgb(255, 136, 191));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

#price--enterprise .price__button {
  background: linear-gradient(to right, rgb(131, 22, 82), rgb(218, 97, 153));
}

/* 

TESTIMONIALS 

*/

#testimonials {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 80px 0 80px 0;
}

.testimonials__left {
  width: 45%;
  display: flex;
  align-items: center;
}

.testimonials__right {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 45%;
}

.testimonials__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.testimonials__title {
  font-size: 3rem;
  line-height: 1;
  max-width: 25ch;
  margin-top: 8px;
}

.testimonials__description {
  font-size: 1.6rem;
  margin-top: 8px;
  max-width: 50ch;
  text-align: left;
}

.testimonials__container {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.testimonials__track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.btn {
  position: absolute;
  transform: translateY(-20%) scale(1.0);
  bottom: 10%;
  background-color: #118701;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 100%;
  width: 36px;
  height: auto;
  transition: all 350ms ease-in-out;
}

.btn--prev { right: 104px; }
.btn--next {right: 56px; }
.btn:hover {
  background-color: #0d7200; 
  transform: translateY(-20%) scale(1.04);
}

.testimonial__title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .5px;
}

.testimonial__text {
  font-size: 1.4rem;
  max-width: 65ch;
}

.testimonial__profile {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile__image--wrapper {
  width: 80px;
  height: 80px;
}

.profile__image {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-size: 1.4rem;
  font-weight: 600;
}

.profile__profession {
  font-size: 1.4rem;
  color: gray;
}

/* 

ANIMATIONS

*/


@keyframes textCarousel {
  0%, 30% {
    transform: translateX(calc(-3 * var(--slide-width)));
  }
  
  33%, 63% {
    transform: translateX(calc(-2 * var(--slide-width)));
  }
  
  66%, 97% {
    transform: translateX(calc(-1 * var(--slide-width)));
  }
  
  100% {
    transform: translateX(0);
  }
  
}

@keyframes moveLeft {
  from {
    transform: scale(.8) translateX(-100px);
  }

  to {
    transform: scale(.9) translateX(-200px);
  } 
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(200px);
  }
}


/* 

RESPONSIVENESS 

*/

@media (max-width: 1300px) {
  header {
    width: 100%;
    padding: 2vh 10vw;
  }

  .topnav,
  .account {
    display: none;
    opacity: 0;
  }

  .hamburger__icon {
    display: inline;
  }

  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .col--forty {
    width: 70%;
    text-align: center;
    justify-content: center;
    background: linear-gradient(120deg, #fffffff6, #f7f6f6);
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 20px;
    padding: 40px 60px;
  }

  .col--sixty {
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
    top: 144px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero__title,
  .carousel__text {
    font-size: 2.4rem;
  }

  .hero__description {
    font-size: 1.2rem;
  }

  .email {
    font-size: 1.2rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 24px;
  }

  .email__button {
    font-size: 1.2rem;
  }

  .customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 48px;
  }

  .customers__text {
    font-size: 1rem;
  }

  #features {
    margin-top: 256px;
  }

  #learn {
    flex-direction: column-reverse;
  }

  .steps__left {
    display: none;
  }

  .steps__right {
    border: 1px solid rgba(128, 128, 128, 0.418);
    width: 480px;
    position: absolute;
    border-radius: 10px;
    padding: 40px;
    transform: none;
    background: linear-gradient(20deg, rgb(233, 233, 233), white);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    animation: none;
  }

  .markers__container {
    flex-direction: column;
  }

  .values__btn {
    width: 200px;
  }

  .price {
    width: 80%;
  }

  #testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__stars {
    margin-top: 32px;
  }

  .testimonials__container {
    width: 100%;
    height: 400px;
    margin-top: -64px;
  }

}

@media (max-width: 1200px) {
  .hero__title,
  .carousel__text {
    font-size: 2rem;
  }

  .carousel__text {
    margin-top: -4px;
  }

  .hero__description {
    font-size: 1rem;
    width: 86%;
    margin: 0 auto;
    margin-top: 4px;
  }

  .col--forty {
    width: 70%;
    padding: 24px 16px;
  }

  .email,
  .email__button {
    font-size: 1rem;
  }
  
  .email__button {
    display: block;
    position: relative;
    transform: none;
    margin-top: 8px;
    width: 100%;
  }

  .customers {
    margin-top: 24px;
  }

  .customers__text {
    font-size: .8rem;
  }

  #features {
    margin-top: 200px;
  }

  #values {
    flex-direction: column-reverse;
    gap: 48px;
    width: 90%;
  }

  .values__left,
  .values__right,
  .marker,
  .values__text {
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .values__title {
    text-align: center;
    margin: 0 auto;
  }

  .marker {
    padding-left: 0px;
    text-align: center;
    max-width: 60ch;
    margin: 0 auto;
  }

  .marker__title,
  .marker__description {
    text-align: center;
    margin: 0 auto;
  }

  .marker::before {
    content: none;
  }
  
  .testimonials__container {
    height: 560px;
    margin-top: -120px;
  }

  .btn {
    display: none;
  }
}
