@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

:root {
  font-size: 16px;
  --slide-width: 216px;
}

body {
  font-family: "Smooch Sans", sans-serif;
}

/* 

HEADER

*/

header,
.title,
.header__right,
.nav__links {
  display: flex;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  background: white;
  width: 90%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  z-index: 3;
}

.title {
  color: #051f02;
}

.title {
  gap: 0.3vw;
}

.title__img {
  height: 48px;
}

.title__text {
  letter-spacing: 1.5px;
  font-weight: 700;
}

.topnav {
  padding: 24px;
  margin-right: 48px;
}

.nav__links {
  list-style-type: none;
  gap: 42px;
}

.nav__link a,
.account__login {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.nav__link,
.account__login {
  position: relative;
  background: linear-gradient(60deg, #0d3508 0%, #118701 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.04em;
  background-position: 50% 100%;
  border-radius: 4px;
  transition:
    background-size 350ms ease-in-out,
    color 375ms ease-in-out;
}

.nav__link {
  padding: 4px 8px;
  cursor: pointer;
}

.nav__link:hover {
  color: white;
  background-size: 100% 100%;
}

.account__login {
  padding: 4px 8px;
  margin-right: 24px;
}

.account__login:hover {
  color: white;
  background-size: 100% 100%;
}

.btn--primary {
  background-color: #118701;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 24px;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn--primary:hover {
  background-color: #0d7200;
}

/* 

HAMBURGER MENU

*/

.hamburger {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgb(253, 253, 253),
    rgb(214, 214, 214)
  );
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 10px;
  height: auto;
  top: -500px;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;
  transition: all 350ms ease-in-out;
  z-index: 2;
}

.hamburger.active {
  top: 0px;
}

.hamburger__icon {
  display: none;
}

.icon__wrapper {
  width: 42px;
  cursor: pointer;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.icon__wrapper:hover {
  transform: scale(1.06);
}

.icon__image {
  width: 100%;
}

.hamburger__menu,
.hamburger__links {
  flex-direction: column;
}

.hamburger__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: 20%;
  margin: 0 auto;
}

.hamburger__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  width: 100%;
}

.hamburger__link {
  width: 100%;
  text-align: center;
}

.hamburger__link a {
  display: inline-block;
  text-align: center;
}

.hamburger__button {
  font-size: 1.1rem;
  min-width: 96px;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.hamburger__button:hover {
  transform: scale(1.02);
  font-size: 1.1rem;
}

.hamburger__icon--close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px; 
}

/* 

MAIN

*/

main {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 

HERO

*/

#hero {
  margin-top: 80px;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}

.col--forty {
  width: 35%;
}

.col--sixty {
  flex-shrink: 3;
  width: 58%;
}

.hero__title {
  font-size: 3rem;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;
}

.hero__description {
  flex-basis: 100%;
  margin-top: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.carousel__container {
  display: inline-flex;
  width: var(--slide-width);
  overflow: hidden;
  font-size: 3rem;
  font-weight: 600;
  color: #118701;
}

.carousel__slides {
  display: flex;
  flex-wrap: nowrap;
  animation: textCarousel 18s ease-in-out infinite;
}

.carousel__text {
  width: var(--slide-width);
  flex-shrink: 0;
}

.email,
.email__button {
  font-size: 1.5rem;
}

.email {
  position: relative;
  width: 96%;
  margin-top: 32px;
}

.email__input,
.email__button {
  border-radius: 100px;
  padding: 8px 32px;
}

.email__input {
  width: 100%;
  border: 1px solid #051f023d;
  box-shadow: inset 1px 1px 4px  rgba(0, 0, 0, 0.349);
}

.email__button {
  position: absolute;
  right: 0;
  transform: scale(0.9) translateY(1px) translateX(4px);
}

/* 

CUSTOMERS

*/

.customers {
  margin-top: 56px;
}

.customers__text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.customers__image--wrapper {
  margin-top: 8px;
  width: 90%;
}

.customers__image {
  opacity: 0.5;
}

/* 

FEATURES

*/

#features {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
}

.features__header {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.features__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.features__title {
  font-size: 4rem;
  line-height: 1;
  margin-top: 8px;
}

.green {
  color: #118701;
}

.features__description {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  max-width: 65ch;
  font-size: 1.8rem;
}

.features__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 64px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 64px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 376px;
  transform: scale(1.0);
  transition: all 300ms ease-in-out;
}

.feature:hover {
  transform: scale(1.04);
}

.feature:hover .feature__title {
  color:#118701;
}

.feature__image--wrapper {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__image {
  background: linear-gradient(0deg, #ecebeb, #fff);
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.185);
  border-radius: 100%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.feature__title {
  font-size: 2.2rem;
  margin-top: 24px;
  transition: all 300ms ease-in-out;
}

.feature_description {
  font-size: 1.6rem;
  max-width: 25ch;
}

/* 

LEARN

*/

#learn {
  display: flex;
  flex-direction: row;;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.learn__left {
  max-width: 50%;
  text-align-last: left;
}

.learn__right {
  max-width: 50%;
}

.learn__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.learn__title {
  font-size: 3rem;
  line-height: 1;
  margin-top: 8px;
}

.learn__description {
  font-size: 1.2rem;
  max-width: 60ch;
  margin-top: 16px;
  text-align-last: left;
}

.learn__button {
  font-size: 1.4rem;
  margin-top: 16px;
}

/* 

STEPS

*/

#steps {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
}

.steps__left {
  position: absolute;
  z-index: -1;
  transform: scale(.9) translateX(-400px);
  animation: moveLeft 10s ease-out;
}

.steps__image--wrapper {
  width: 1200px;
  flex-shrink: 2;
}

.steps__image {
  width: 100%;
}

.steps__right {
  border: 1px solid rgba(128, 128, 128, 0.418);
  width: 480px;
  position: absolute;
  border-radius: 10px;
  padding: 40px;
  transform: translateX(320px);
  background: linear-gradient(20deg, rgb(233, 233, 233), white);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  animation: moveRight 10s ease-out;
}

.steps__subtitle {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.steps__title {
  font-size: 2.6rem;
  line-height: 1;
}

.steps__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-left: 4px;
}

.step {
  display: flex;
  column-gap: 24px;
  align-items: flex-start;
}

.step__number {
  font-size: 1.8rem;
  color: rgba(161, 161, 161, 1);
}

.step__text {
  display: flex;
  flex-direction: column;
}

.step__title {
  font-size: 1.8rem;
  line-height: 1.2;
}

.step__description {
  font-size: 1.4rem;
  max-width: 35ch;
}


/* 

ANIMATIONS

*/


@keyframes textCarousel {
  0%, 30% {
    transform: translateX(calc(-3 * var(--slide-width)));
  }
  
  33%, 63% {
    transform: translateX(calc(-2 * var(--slide-width)));
  }
  
  66%, 97% {
    transform: translateX(calc(-1 * var(--slide-width)));
  }
  
  100% {
    transform: translateX(0);
  }
  
}

@keyframes moveLeft {
  from {
    transform: scale(.8) translateX(-100px);
  }

  to {
    transform: scale(.9) translateX(-400px);
  } 
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(320px);
  }
}


/* 

RESPONSIVENESS 

*/

@media (max-width: 1125px) {
  header {
    width: 100%;
    padding: 2vh 10vw;
  }

  .topnav,
  .account {
    display: none;
    opacity: 0;
  }

  .hamburger__icon {
    display: inline;
  }

  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .col--forty {
    width: 70%;
    text-align: center;
    justify-content: center;
    background: linear-gradient(120deg, #fffffff6, #f7f6f6);
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 20px;
    padding: 40px 60px;
  }

  .col--sixty {
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    width: 100vw;
    top: 144px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero__title,
  .carousel__text {
    font-size: 2.4rem;
  }

  .hero__description {
    font-size: 1.2rem;
  }

  .email {
    font-size: 1.2rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 24px;
  }

  .email__button {
    font-size: 1.2rem;
  }

  .customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 48px;
  }

  .customers__text {
    font-size: 1rem;
  }

  #features {
    margin-top: 256px;
  }

  #learn {
    flex-direction: column-reverse;
  }
}

@media (max-width: 720px) {
  .hero__title,
  .carousel__text {
    font-size: 2rem;
  }

  .carousel__text {
    margin-top: -4px;
  }

  .hero__description {
    font-size: 1rem;
    width: 86%;
    margin: 0 auto;
    margin-top: 4px;
  }

  .email,
  .email__button {
    font-size: 1rem;
  }
  
  .email__button {
    display: block;
    position: relative;
    transform: none;
    margin-top: 8px;
    width: 100%;
  }

  .customers {
    margin-top: 24px;
  }

  .customers__text {
    font-size: .8rem;
  }

  #features {
    margin-top: 80px;
  }
}
