@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

:root {
  font-size: 16px;
}

body {
  font-family: "Smooch Sans", sans-serif;
}

/* 

HEADER

*/

header,
.title,
.header__right,
.nav__links {
  display: flex;
  align-items: center;
}

header {
  width: 90%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  margin-top: 30px;
}

.title {
  color: #051f02;
}

.title {
  gap: 0.3vw;
}

.title__img {
  height: 50px;
}

.title__text {
  letter-spacing: 1.5px;
  font-weight: 700;
}

.topnav {
  padding: 20px;
  margin-right: 50px;
}

.nav__links {
  list-style-type: none;
  gap: 40px;
}

.nav__link a,
.account__login {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.nav__link,
.account__login {
  position: relative;
  background: linear-gradient(60deg, #0d3508 0%, #118701 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.04em;
  background-position: 50% 100%;
  border-radius: 4px;
  transition:
    background-size 350ms ease-in-out,
    color 375ms ease-in-out;
}

.nav__link {
  padding: 2px 8px;
  cursor: pointer;
}

.nav__link:hover {
  color: white;
  background-size: 100% 100%;
}

.account__login {
  padding: 4px 8px;
  margin-right: 20px;
}

.account__login:hover {
  color: white;
  background-size: 100% 100%;
}

.btn--primary {
  background-color: #118701;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 6px 20px;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  transform: translateY(3px);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.btn--primary:hover {
  transform: translateY(0px);
  background-color: #0d7200;
  font-size: 1.22rem;
}

/* 

HAMBURGER MENU

*/


.hamburger__icon {
  display: none;
}

.icon__wrapper {
  width: 40px;
  cursor: pointer;
  transform: scale(1.0);
  transition: all 300ms ease-in-out;
}

.icon__wrapper:hover {
  transform: scale(1.06);
}

.icon__image {
  width: 100%;
}


/* 

RESPONSIVENESS 

*/

@media (max-width: 850px) {
  .topnav,
  .account {
    display: none;
    opacity: 0;
  }

  .hamburger__icon {
    display: inline;
  }
}
